<% if obj.errors.any? %>
  <div class="alert">
    <p>The following errors prevented the <%= obj.class.name.downcase %> from being saved</p>
    <h4 class="alert-heading"> Errors</h4>
    <% obj.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>